:root {
  --primary: #d0d6f9;
  --white: #ffffff;
  --black: #0b0d17;
  --font-3d-sports: "3D Sports Bar";
  --font-barlow: "Barlow";
  --font-barlow-black: "Barlow Black";
  --font-barlow-bold: "Barlow Bold";
  --font-barlow-extra-bold: "Barlow Extra Bold";
  --font-barlow-light: "Barlow Light";
  --font-barlow-medium: "Barlow Medium";
  --font-barlow-regular: "Barlow Regular";
  --font-barlow-semibold: "Barlow Semi Bold";
  --font-bellefair-regular: "Bellefair Regular";
}
