:root {
  --primary: #d0d6f9;
  --secondary: #0b0d17;
  --horizontal: #383b4b;
  --white: #ffffff;

  --barlow: "Barlow";
  --barlow-condensed-reg: "Barlow Condensed Reg";
  --barlow-condensed-bold: "Barlow Condensed Bold";
  --bellefair: "Bellefair";

  --easeinback: cubic-bezier(0.225, 0.795, 0.55, 1.275);
}
