@use "../utils" as *;

#main .banner-dstntn {
  &__left {
    width: 100%;
    height: 100vh;
  }

  &__left-content {
    margin-left: em(108);
    margin-bottom: em(110);

    h1 {
      font-family: var(--barlow-condensed-reg);
      font-size: em(28);
      letter-spacing: 4.725px;
      padding-bottom: em(56) !important;
      color: var(--white) !important;

      span {
        font-family: var(--barlow-condensed-bold);
        letter-spacing: 4.72px;
        opacity: 0.25;
        mix-blend-mode: normal;
        color: var(--white) !important;
      }
    }
  }

  &__image {
    width: em(445);
    height: em(445);
    margin-left: em(60);
  }

  &__right {
    width: 100%;
    height: 100vh;
  }

  &__right-content {
    width: em(445);
    margin-right: em(105);
    margin-bottom: em(118);
  }

  &__anchor {
    margin-bottom: em(60);
  }

  &__li {
    &:not(:last-child) {
      margin-right: em(35);
    }
  }

  &__links {
    font-family: var(--barlow-condensed-reg);
    font-size: em(16);
    letter-spacing: 2.7px;
    color: var(--primary) !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: calc(0 - 15px);
      left: 0;
      width: 100%;
      height: em(3);
      opacity: 0.5;
      transform: scaleX(0);
      transform-origin: right;
      background: var(--white);
      transition: all 200ms;
      transition-property: transform;
      transition-timing-function: var(--easeinback);
    }

    &:hover::after {
      transform: scaleX(100%);
      transform-origin: left;
    }
  }

  &__links[aria-current="page"] {
    color: var(--white) !important;

    &::after {
      opacity: 1;
      transform: scaleX(100%);
      background: var(--white);
    }
  }

  &__title {
    margin: 0 0 1.5625rem;

    h1 {
      font-family: var(--bellefair);
      font-size: em(100);
      color: var(--white) !important;
    }
  }

  &__desc {
    margin: 0 0 em(52);

    p {
      font-family: var(--barlow);
      font-size: em(18);
      line-height: 1.6;
      color: var(--primary) !important;
    }
  }

  &__rule {
    width: 100%;
    height: em(1);
    margin-bottom: em(30);
    display: inline-block;
    background-color: var(--horizontal);
  }

  &__info-left {
    margin-right: em(65) !important;

    h4 {
      font-family: var(--barlow-condensed-reg);
      font-size: em(14);
      letter-spacing: 2.3625px;
      margin-bottom: em(20);
      color: var(--primary) !important;
    }

    h3 {
      font-family: var(--bellefair);
      font-size: em(28);
      color: var(--white) !important;
    }
  }

  &__info-right {
    h4 {
      font-family: var(--barlow-condensed-reg);
      font-size: em(14);
      letter-spacing: 2.3625px;
      margin-bottom: em(20);
      color: var(--primary) !important;
    }

    h3 {
      font-family: var(--bellefair);
      font-size: em(28);
      color: var(--white) !important;
    }
  }
}
