@use "../utils" as *;

#main .banner-tech {
  &__row {
  }

  &__col {
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-left: em(25);
  }

  &__left-content {
    padding-left: em(110);
  }

  &__text-content {
  }

  &__sub-title {
  }

  &__title {
    h2 {
      font-family: var(--font-barlow-light);
      font-size: em(24);
      letter-spacing: em(2);

      span {
        font-family: var(--font-barlow-semibold) !important;
        color: #858585 !important;
      }
    }
  }

  &__pagination {
    padding-top: em(100);
  }

  &__round {
    &:not(:last-child) {
      margin-bottom: em(20);
    }
  }

  &__pagination-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-bellefair-regular);
    font-size: em(28);
    width: em(40);
    height: em(40);
    border-radius: 50%;
    color: whitesmoke;
    border: em(1) solid whitesmoke;
  }

  &__pagination-links[aria-current="page"] {
    color: black;
    background-color: whitesmoke;
  }

  &__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 9.25%;
    width: 100%;
    height: 100vh;
  }

  &__image {
    width: em(390);
    height: auto;
    display: block;
    overflow: hidden;
  }
}
