@use "../utils" as *;

#main .banner {
  &__left {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  &__left-content {
    position: absolute;
    bottom: em(132);
    left: inherit;

    h2 {
      font-family: var(--font-barlow-regular);
      font-size: em(28);
      letter-spacing: 4.72px;
      margin-bottom: em(23.75);
      color: var(--primary) !important;
    }

    h1 {
      font-family: var(--font-bellefair-regular);
      font-size: em(150);
      margin-bottom: em(3.25);
      color: var(--white) !important;
    }

    p {
      font-family: var(--font-barlow);
      font-size: em(18);
      font-weight: 400;
      max-width: em(400);
      line-height: 32px;
      color: var(--primary) !important;
    }
  }

  &__right {
    padding-right: em(55);
  }

  &__right-content {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  &__right-button {
    position: absolute;
    bottom: em(132);
    right: em(40);
    width: em(274);
    height: em(274);
    border-radius: 50%;
    background: whitesmoke;

    a {
      font-family: var(--font-bellefair-regular);
      font-size: em(32);
      letter-spacing: 2px;
      color: var(--black) !important;
    }
  }
}
