@use "../utils" as *;

#main .hdr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: em(40);
  z-index: 1000;

  &__brand {
    position: relative;
    padding-left: em(55);

    a {
      cursor: grab;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100% + 65px);
        width: em(473);
        height: em(1);
        pointer-events: none;
        background: var(--white);
        mix-blend-mode: normal;
        opacity: 0.25;
        z-index: 5;
      }
    }
  }

  &__navbar {
    position: relative;
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: em(35);
    padding-right: em(165);
    padding-bottom: em(35);
    padding-left: em(122);
    margin: 0;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: em(96);
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
      z-index: -1;
    }
  }

  &__items {
    list-style: none;

    &:not(:last-child) {
      margin-right: em(50);
    }
  }

  &__links {
    cursor: none;
    position: relative;
    font-family: var(--barlow-condensed-reg);
    font-size: em(16);
    letter-spacing: em(2.7);
    text-transform: uppercase;
    color: var(--white) !important;

    span {
      font-weight: bold;
      margin-right: em(10.75);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: calc(0% - 32px);
      left: 0;
      width: 100%;
      height: em(3);
      opacity: 0.5;
      transform: scaleX(0);
      transform-origin: right;
      background: var(--white);
      transition: all 300ms;
      transition-property: transform;
      transition-timing-function: var(--easeinback);
    }

    &:hover::after {
      transform: scaleX(100%);
      transform-origin: left;
    }
  }

  &__links[aria-current="page"] {
    &::after {
      opacity: 1;
      transform: scaleX(100%);
      background: var(--white);
    }
  }
}
